.x-ripple-container {
  overflow: hidden;
  position: relative;

  .x-ripple {
    position: absolute;
    border-radius: 50%;
    background-color: currentColor;
    opacity: 0;
    pointer-events: none;
    // 设置固定大小
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    animation: x-ripple-enter 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}

@keyframes x-ripple-enter {
  0% {
    opacity: 0.6;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 0;
    width: var(--x-ripple-size, 500px);
    height: var(--x-ripple-size, 500px);
  }
}
