$font-sizes: (
  "base": 14px,
  "small": 12px,
  "large": 16px,
  "huge": 20px
);

:root {
  @each $name, $value in $font-sizes {
    --x-font-size-#{$name}: #{$value};
  }

  --x-font-size: var(--x-font-size-base);

  font-size: var(--x-font-size);
}
