.x-color-picker {
  display: inline-block;

  &__trigger {
    width: 32px;
    height: 32px;
    padding: 4px;
    border: 1px solid var(--x-border-color);
    border-radius: var(--x-border-radius-base);
    cursor: pointer;

    &--small {
      width: 24px;
      height: 24px;
    }

    &--large {
      width: 40px;
      height: 40px;
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      opacity: var(--trans-opacity);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, #ddd 25%, transparent 25%),
        linear-gradient(-45deg, #ddd 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ddd 75%),
        linear-gradient(-45deg, transparent 75%, #ddd 75%);
      background-size: 10px 10px;
      background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    }
  }

  &__panel {
    padding: 8px;
    background-color: var(--x-bg-color);
    border-radius: var(--x-border-radius-base);
    box-shadow: var(--x-box-shadow);
  }

  &--inline {
    .x-color-picker__panel {
      box-shadow: none;
    }
  }
}
.x-color-picker {
  display: inline-block;

  &__trigger {
    width: 32px;
    height: 32px;
    padding: 4px;
    border: 1px solid var(--x-border-color);
    border-radius: var(--x-border-radius-base);
    cursor: pointer;

    &--small {
      width: 24px;
      height: 24px;
    }

    &--large {
      width: 40px;
      height: 40px;
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      opacity: var(--trans-opacity);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, #ddd 25%, transparent 25%),
        linear-gradient(-45deg, #ddd 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ddd 75%),
        linear-gradient(-45deg, transparent 75%, #ddd 75%);
      background-size: 10px 10px;
      background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    }
  }

  &__panel {
    padding: 8px;
    background-color: var(--x-bg-color);
    border-radius: var(--x-border-radius-base);
    box-shadow: var(--x-box-shadow);
  }

  &--inline {
    .x-color-picker__panel {
      box-shadow: none;
    }
  }
}
.x-color-picker {
  display: inline-block;

  &__trigger {
    width: 32px;
    height: 32px;
    padding: 4px;
    border: 1px solid var(--x-border-color);
    border-radius: var(--x-border-radius-base);
    cursor: pointer;

    &--small {
      width: 24px;
      height: 24px;
    }

    &--large {
      width: 40px;
      height: 40px;
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      opacity: var(--trans-opacity);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, #ddd 25%, transparent 25%),
        linear-gradient(-45deg, #ddd 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ddd 75%),
        linear-gradient(-45deg, transparent 75%, #ddd 75%);
      background-size: 10px 10px;
      background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    }
  }

  &__panel {
    padding: 8px;
    background-color: var(--x-bg-color);
    border-radius: var(--x-border-radius-base);
    box-shadow: var(--x-box-shadow);
  }

  &--inline {
    .x-color-picker__panel {
      box-shadow: none;
    }
  }
}
.x-color-picker {
  display: inline-block;

  &__trigger {
    width: 32px;
    height: 32px;
    padding: 4px;
    border: 1px solid var(--x-border-color);
    border-radius: var(--x-border-radius-base);
    cursor: pointer;

    &--small {
      width: 24px;
      height: 24px;
    }

    &--large {
      width: 40px;
      height: 40px;
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      opacity: var(--trans-opacity);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, #ddd 25%, transparent 25%),
        linear-gradient(-45deg, #ddd 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ddd 75%),
        linear-gradient(-45deg, transparent 75%, #ddd 75%);
      background-size: 10px 10px;
      background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    }
  }

  &__panel {
    padding: 8px;
    background-color: var(--x-bg-color);
    border-radius: var(--x-border-radius-base);
    box-shadow: var(--x-box-shadow);
  }

  &--inline {
    .x-color-picker__panel {
      box-shadow: none;
    }
  }
}
.x-color-picker {
  display: inline-block;

  &__trigger {
    width: 32px;
    height: 32px;
    padding: 4px;
    border: 1px solid var(--x-border-color);
    border-radius: var(--x-border-radius-base);
    cursor: pointer;

    &--small {
      width: 24px;
      height: 24px;
    }

    &--large {
      width: 40px;
      height: 40px;
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      opacity: var(--trans-opacity);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, #ddd 25%, transparent 25%),
        linear-gradient(-45deg, #ddd 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ddd 75%),
        linear-gradient(-45deg, transparent 75%, #ddd 75%);
      background-size: 10px 10px;
      background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    }
  }

  &__panel {
    padding: 8px;
    background-color: var(--x-bg-color);
    border-radius: var(--x-border-radius-base);
    box-shadow: var(--x-box-shadow);
  }

  &--inline {
    .x-color-picker__panel {
      box-shadow: none;
    }
  }
}
.x-color-picker {
  display: inline-block;

  &__trigger {
    width: 32px;
    height: 32px;
    padding: 4px;
    border: 1px solid var(--x-border-color);
    border-radius: var(--x-border-radius-base);
    cursor: pointer;

    &--small {
      width: 24px;
      height: 24px;
    }

    &--large {
      width: 40px;
      height: 40px;
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      opacity: var(--trans-opacity);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, #ddd 25%, transparent 25%),
        linear-gradient(-45deg, #ddd 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ddd 75%),
        linear-gradient(-45deg, transparent 75%, #ddd 75%);
      background-size: 10px 10px;
      background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    }
  }

  &__panel {
    padding: 8px;
    background-color: var(--x-bg-color);
    border-radius: var(--x-border-radius-base);
    box-shadow: var(--x-box-shadow);
  }

  &--inline {
    .x-color-picker__panel {
      box-shadow: none;
    }
  }
}

.x-color-panel {
  width: 280px;

  & > * {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.x-alpha-slider {
  height: 12px;

  &__track {
    position: relative;
    height: 100%;
    background-image: linear-gradient(45deg, #ddd 25%, transparent 25%),
      linear-gradient(-45deg, #ddd 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ddd 75%),
      linear-gradient(-45deg, transparent 75%, #ddd 75%);
    background-size: 10px 10px;
    background-position: 0 0, 0 5px, 5px -5px, -5px 0;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  &__thumb {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  }
}
.x-color-input {
  &__format {
    display: flex;
    margin-bottom: 8px;
    width: 100%;
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
  }

  &__field {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    flex: 1;

    &-label {
      color: var(--x-text-color-placeholder);
      font-size: var(--x-font-size-small);
    }

    & > .x-input > .x-input__wrapper {
      height: 26px;
    }
  }
}

.x-color-panel-hsv {
  width: 100%;

  &__main {
    position: relative;
    width: 100%;
    height: 180px;
    margin-bottom: 8px;
    border-radius: var(--x-border-radius-base);
    background-image: linear-gradient(0deg, #000, transparent),
      linear-gradient(90deg, #fff, transparent);
    cursor: crosshair;
  }

  &__cursor {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  &__hue {
    height: 12px;
  }

  &__hue-track {
    position: relative;
    height: 100%;
    background: linear-gradient(
      90deg,
      #f00 0%,
      #ff0 17%,
      #0f0 33%,
      #0ff 50%,
      #00f 67%,
      #f0f 83%,
      #f00 100%
    );
    border-radius: 6px;
    cursor: pointer;
  }

  &__hue-thumb {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  }
}
