@use "../vars.scss" as *;

// 定义类型映射
$types: (
  default: var(--x-color-neutral-900) var(--x-color-neutral-500),
  primary: var(--x-color-primary) var(--x-color-primary-300),
  secondary: var(--x-color-secondary) var(--x-color-secondary-300),
  success: var(--x-color-success) var(--x-color-success-300),
  warning: var(--x-color-warning) var(--x-color-warning-300),
  error: var(--x-color-error) var(--x-color-error-300),
  info: var(--x-color-info) var(--x-color-info-300)
);

.x-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: all var(--x-transition-duration) var(--x-transition-timing);
  line-height: 1.5;

  &.x-link--disabled {
    cursor: not-allowed;
    opacity: var(--x-opacity-disabled);
  }

  &.x-link--underline {
    box-sizing: border-box;
    text-underline-position: under;
    &:hover {
      text-decoration: underline;
    }
  }

  &.x-link__icon {
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
    font-size: 1em;
  }

  // 使用 @each 循环处理类型样式
  @each $type, $colors in $types {
    $normal: nth($colors, 1);
    $hover: nth($colors, 2);

    &.x-link--#{$type} {
      color: #{$normal};
      &:hover {
        color: #{$hover};
      }
    }
  }
}
