.x-scroll {
  &__thumb {
    position: absolute;
    background-color: var(--x-thumb-color);
    border-radius: calc(var(--x-bar-size) / 2);
    cursor: pointer;
    transition: background-color 0.3s;
    will-change: transform; // 提示浏览器这个属性会频繁变化

    &:hover {
      background-color: var(--x-thumb-hover-color);
    }

    &--vertical {
      width: 100%;
    }

    &--horizontal {
      height: 100%;
    }
  }
}

.x-scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;

  &__content {
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE/Edge
    box-sizing: border-box;

    &::-webkit-scrollbar {
      display: none; // Chrome/Safari
    }
  }

  &__bar {
    position: absolute;
    z-index: 1;
    border-radius: 4px;
    background-color: var(--x-track-color);
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;

    &--vertical {
      top: 2px;
      right: 2px;
      width: var(--x-bar-size);
      height: calc(100% - 4px);
    }

    &--horizontal {
      left: 2px;
      bottom: 2px;
      width: calc(100% - 4px);
      height: var(--x-bar-size);
    }
  }

  &__thumb {
    position: absolute;
    border-radius: inherit;
    background-color: var(--x-thumb-color);
    transition: background-color 0.2s;
    cursor: pointer;

    &--vertical {
      width: 100%;
    }

    &--horizontal {
      height: 100%;
    }

    &:hover {
      background-color: var(--x-thumb-hover-color);
    }

    &--dragging {
      background-color: var(--x-thumb-hover-color);
    }
  }

  // 滚动条显示控制
  &:hover &__bar,
  &--scrolling &__bar {
    opacity: 1;
  }

  &--always &__bar {
    opacity: 1;
  }

  &--never &__bar {
    display: none;
  }
}
