@use "../vars.scss" as *;
@use "sass:map";

// 类型颜色映射
$types: ("primary", "secondary", "success", "warning", "error", "info");

// 尺寸配置
$sizes: (
  small: (
    padding: 0 4px,
    font-size: var(--x-font-size-small)
  ),
  medium: (
    padding: 2px 8px,
    font-size: var(--x-font-size-small)
  ),
  large: (
    padding: 4px 12px,
    font-size: var(--x-font-size-base)
  )
);

.x-tag {
  display: inline-flex;
  align-items: center;
  border-radius: var(--x-border-radius-base);
  background-color: var(--x-color-neutral-100);
  color: var(--x-color-neutral-700);
  transition: all var(--x-transition-duration) var(--x-transition-timing);
  border: var(--x-border);
  transition: width 0.2s ease;

  // 类型样式
  @each $type in $types {
    $normal: var(--x-color-#{$type});
    $border: var(--x-color-#{$type}-200);
    $bg: var(--x-color-#{$type}-50);

    &--#{$type} {
      color: #{$normal};
      border-color: #{$border};
      background-color: #{$bg};
    }
  }

  &.x-tag--outlined {
    background-color: transparent;
  }

  // 尺寸样式
  @each $size, $config in $sizes {
    &--#{$size} {
      padding: map.get($config, "padding");
      font-size: map.get($config, "font-size");
    }
  }

  &__close {
    margin-left: 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: opacity 0.2s;
  }

  &__content {
    white-space: nowrap;
  }
}
