.x-tooltip {
  padding: 8px 12px;
  color: var(--x-text-color);
  background-color: var(--x-bg-color);
  border-radius: var(--x-border-radius-base);
  box-shadow: var(--x-shadow-tiny);
  font-size: var(--x-font-size-small);
  max-width: 600px;
  word-break: break-all;

  &.x-tooltip--inverse {
    background-color: var(--x-text-color);
    color: var(--x-bg-color);
    border-color: var(--x-text-color);

    &.x-popup__arrow {
      &::before {
        border-color: var(--x-text-color);
      }
    }
  }
}
