:root {
  /* 定义亮色主题变量 */
  --bg-primary: #ffffff;
  --bg-secondary: #f9f9f9;
  --text-primary: #213547;
  --text-secondary: #666666;
  --border-color: #e5e7eb;
  /* --x-color-primary: #186df5;
  --x-color-neutral-50: #f9fafb;
  --x-color-neutral-100: #f3f4f6;
  --x-color-neutral-900: #111827; */
}

[data-theme="dark"] {
  /* 定义暗色主题变量 */
  --bg-primary: #1a1a1a;
  --bg-secondary: #242424;
  --text-primary: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --border-color: #333333;
  /* --x-color-primary: #3b82f6;
  --x-color-neutral-50: #18181b;
  --x-color-neutral-100: #27272a;
  --x-color-neutral-900: #fafafa; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

#app {
  width: 100vw;
  height: 100vh;
}